<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>
  <!--读取ibatis关键配置文件-->
  <providers resource="providers.config"/>

	<!-- 连接数据库信息 -->
  <database>
    <provider name="sqlServer2.0"></provider>
    <!--<dataSource name="IBatisNet" connectionString="server=HUMO;database=SoAppSystem;user id=humo;password=123456;connection reset=false;"/>-->
    <dataSource name="IBatisNet" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=SoAppSystem;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </database>
  
  <!--指定读取map的位置-->
  <sqlMaps>
    <!--有待改进之处：怎样实现将Map的读取位置改为so.app.manager下的Map ,不使用绝对路径的方法-->
    <sqlMap  resource="Maps/UsersManagerMaps.xml" xmlns="http://ibatis.apache.org/dataMapper"/>
  </sqlMaps>

</sqlMapConfig>