<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>
  
  <providers resource="providers.config"/>

	<!-- 连接数据库信息 -->
  <database>
    <provider name="sqlServer2.0"></provider>
    <dataSource name="IBatisNet" connectionString="server=HUMO;database=SoAppSystem;user id=humo;password=123456;connection reset=false;"/>
  </database>
  
  <!--指定读取map的位置-->
  <sqlMaps>
    <sqlMap resource="Maps/UsersManagerMaps.xml" xmlns="http://ibatis.apache.org/dataMapper"/>
  </sqlMaps>

</sqlMapConfig>